<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aliceblue;
            text-align: center;
            font-size: 24px;
        }
        li{
            margin: auto;
            width: fit-content;
        }
    </style>
</head>
<body>
    <h1>Hello, This is <%= id %> - <%= person %>'s profile page</h5>
    <p>My age is <%= data.age %></p>
    <p>I am a <%= data.job %></p>

    <p>My friends are </p>
    <ul>
        <% data.friends.forEach((frnd) => { %>
            <li><%= frnd %></li>
        <% }); %>
    </ul>
</body>
</html>
